@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

@layer base {
    /* Existing styles */
    h1, h2, h3, h4 {
        @apply font-heading;
        @apply font-bold;
    }
    b, strong, i, em, u, strike, small, big, sub, sup, mark, button, p, span, h5 {
        @apply font-paragraph;
    }
    table, th, td, caption {
        @apply font-paragraph;
    }

    /* Translated styles from components */
    h1 {
        @apply text-5xl md:text-7xl pb-4;
        /* Since `color` is dynamic in the components, you may still have to handle it differently */
    }

    h2 {
        @apply text-5xl md:text-6xl pb-3 md:pb-4;
        /* Similar note about `color` */
    }

    h3 {
        @apply text-3xl md:text-4xl font-semibold md:font-bold pb-2 md:pb-3;
        /* Again, note about `color` */
    }

    h4 {
        @apply text-lg md:text-3xl pb-2 md:pb-3 font-medium;
        /* The dynamic `color` is still something to consider */
    }

    h5 {
        @apply text-lg md:text-xl font-bold pb-2 md:pb-3;
        /* Consider `color` */
    }

    .headline-basic {
        @apply text-lg md:text-xl font-bold;
        /* Consider `color` */
    }

    p {
        @apply text-base md:text-lg tracking-wide pb-1 md:pb-2;
        /* Consider `color` */
    }
}


  .carousel .thumb {
    transition: border .15s ease-in;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 2px solid #2b2b2b !important;
    padding: 2px;
    width: auto !important;
    border-radius: 20px;
}

.carousel .thumbs {
  transition: all .15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 30px; */
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 2px solid #3a3a3a !important;
}

.carousel .thumbs-wrapper {
  /* margin: 20px; */
  overflow: hidden;
  display: flex;
    width: 100%;
    flex-wrap: wrap;
}